 /* Skeleton.css */
 $skeleton-bg-color: #e0e0e0;
 $skeleton-border-radius: 8px;
 $pulse-animation-duration: 1.5s;
 $pulse-animation-ease: ease-in-out;
 







.product-card {

  overflow: hidden; /* Ensures the button stays within the card */
}



.add-to-cart-button {
  position: absolute;
  bottom: -42px; /* Initially position the button below the card */
  left: 50%;

  transform: translateX(-50%);
 
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.7;
 
  transition: bottom 0.4s ease-in-out; /* Add transition for smooth movement */
}

.product-card:hover .add-to-cart-button {
  opacity: 1;
  bottom: 0; 
}





.product-details {
  //  height:50vh;

  .tooltip {
    /* Add your desired styles here */
    color: red; /* Example color */
    /* Other styles such as background-color, border, etc. */
  }
 
  
  position: relative;

  .badgee {
    position: absolute;
    top: 0px;
    left: 0px;

    font-size: 12px;
    line-height: 1;
    border-radius: 0 0 20px 0;

    padding: 9px 20px 10px 20px;
  }

  .badgee.hot {
    background: #f74b81 !important;
  }
  .badgee.sale {
    background: #67bcee !important;
  }
  .badgee.cool {
    background: #3bb77e !important;
  }
  .badgee.new {
    background: #f59758 !important;
  }
  .badgee.hot {
    background: #f74b81 !important;
  }

  .imgwraper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    
  }
  .imgwraper img {
    height: 150px;
    width:200px;
    object-fit: fill;
   
    transition: all 1s ease-in-out;
  }
  .imgwraper .overlay {
    position: absolute;
    top: 52px;
    left: 0px;
    width: 100%;
    /* height: 100%; */
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.8);
  }

  .imgwraper .overlay ul {
    background: #000;
    width: 130px;
    height: 40px;
    border-radius: 5px;
  }
  .imgwraper .overlay ul li {
    display: block;
    padding: 10px;
    color: white;
  }
  .imgwraper .overlay ul li:nth-child(2) {
    border-left: 1px solid rgba(0, 139, 139, 0.305);
  }
  .imgwraper .overlay ul li:nth-child(3) {
    border-left: 1px solid rgba(0, 139, 139, 0.305);
  }

  //  .brand{
  //   color: #000;
  //   opacity: 0.8;
  //   font-size: 14px;
  //  }
  .info .oldprice {
    margin-left: auto;
  }
}

.product-details:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}

// .info button:hover{
//    color:white !important;
//    background: #3BB77E !important;

// }
// .info button:hover{
//     position: absolute !important;
//     bottom:4px !important;

// }


.product-details .imgwraper .overlay:hover {
  opacity: 1;
  transform: scale(1);
}